//Color Variables
$primary-color: #ff3d2a;
$lighten-primary: lighten($primary-color, 20%);
$dark-text: #454545;
$light-line: #ededed;

@mixin easeInOutFast {
    transition: all 0.1s ease-in-out;
}

@mixin easeInOutMedium {
    transition: all 0.3s ease-in-out;
}

@mixin easeInOutSlow {
    transition: all 0.8s ease-in-out;
}

//Preset
* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth !important;
}

*:focus {
    outline: none;
}

body {
    margin: 0;
    font-family: "Rubik", sans-serif !important;
    font-size: 14px;
    overflow-x: hidden;
    color: #454545;
}

a,
a:visited,
a:active {
    text-decoration: none;
    color: inherit;
}

ul > li {
    list-style-type: none;
}
