@import "config.scss";

.container {
    header {
        padding: 0 10%;
        margin: 0 auto;

        .header-section {
            padding-top: 5vh;
            display: flex;
            height: 30px;
            justify-content: space-between;
            border-bottom: 1px solid #ededed;

            .header-menu {
                height: inherit;

                .account-details {
                    display: flex;
                    height: inherit;

                    & > li {
                        margin-left: 40px;
                    }

                    &-item {
                        height: inherit;
                        position: relative;

                        &:hover ul {
                            display: block;
                        }

                        a {
                            display: block;
                            height: inherit;
                        }
                    }

                    ul {
                        background: white;
                        position: absolute;
                        display: none;
                        box-shadow: 0 1px 7px -2px rgba(0, 0, 0, 0.3);
                        padding: 8px 12px 10px;
                        z-index: 1;

                        li {
                            line-height: 32px;
                            width: 100px;
                            @include easeInOutFast;

                            &:hover {
                                color: $primary-color;
                            }
                        }
                    }
                }
            }
        }

        .header-navigation {
            padding-top: 30px;
            display: flex;
            justify-content: space-between;

            > a {
                font-size: 2rem;
                font-family: "Playfair Display", serif;
            }

            .nav-bar {
                display: flex;
                align-self: flex-end;

                &-item {
                    list-style-type: none;
                    padding-left: 20px;
                    @include easeInOutFast;

                    &:hover {
                        color: $primary-color;
                    }
                }
            }
        }
    }

    .hero {
        margin-top: 30px;
        position: relative;
        background: linear-gradient(
            90deg,
            rgba(0, 0, 0, 0.7),
            rgba(0, 0, 0, 0.2)
        );
        height: 550px;
        overflow: hidden;

        .content {
            display: inline-block;
            padding: 8rem 0 0 10%;

            > h1 {
                font-family: "Playfair Display", serif;
                color: white;
                font-size: 4rem;

                > span {
                    color: lighten($primary-color, 20%);
                }
            }

            > p {
                padding-top: 0.5rem;
                padding-left: 0.5rem;
                font-size: 1.3rem;
                color: white;
                opacity: 0.4;
            }

            > a {
                padding: 1rem 2rem;
                display: inline-block;
                border: 1px solid lighten($primary-color, 20);
                background: lighten($primary-color, 20);
                margin: 1.5rem 0.5rem;
                color: white;
                @include easeInOutMedium;

                &:hover {
                    background: transparent;
                    color: lighten($primary-color, 20);
                }
            }
        }

        .hero-img {
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            max-width: 100%;
            height: 100%;
        }
    }

    #product-section {
        padding: 5% 10%;

        .head {
            display: flex;
            padding: 0 0 2%;
            justify-content: space-between;

            .product-filter {
                line-height: 2;

                ul {
                    display: inline-flex;

                    li {
                        padding-left: 1rem;
                        @include easeInOutFast;
                        &:hover {
                            color: $primary-color;
                        }

                        a {
                            &.active {
                                color: $primary-color;
                            }
                        }
                    }
                }
            }
        }

        .product-grid {
            display: grid;
            grid-template-areas:
                "pic1 pic2 pic3 pic4"
                "pic5 pic6 pic7 pic8";

            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: repeat(2, 1fr);
            grid-gap: 4rem 2rem;

            .product-item {
                position: relative;
                z-index: 1;

                &.pic1 {
                    grid-area: pic1;
                }
                &.pic2 {
                    grid-area: pic2;
                }
                &.pic3 {
                    grid-area: pic3;
                }
                &.pic4 {
                    grid-area: pic4;
                }
                &.pic5 {
                    grid-area: pic5;
                }
                &.pic6 {
                    grid-area: pic6;
                }
                &.pic7 {
                    grid-area: pic7;
                }
                &.pic8 {
                    grid-area: pic8;
                }

                img {
                    width: 100%;
                }

                .item-hover {
                    display: flex;
                    position: absolute;
                    bottom: 49px;
                    width: 100%;
                    justify-content: center;
                    padding-bottom: 0.1rem;

                    .card-item {
                        transform: rotateY(90deg);
                        transform-origin: center;
                        padding: 0.9rem;
                        background: white;
                        margin: 0.1rem;
                        @include easeInOutMedium;

                        &:hover {
                            background: $primary-color;
                            color: white;
                        }
                    }
                }

                &:hover .item-hover .card-item {
                    transform: rotateY(180deg);
                }

                .info {
                    margin-top: 1rem;
                    p {
                        text-align: center;
                    }
                }
            }
        }
    }

    #testimonial {
        margin: 5% 0;
        background: lighten($primary-color, 20);

        .content {
            margin: auto;
            padding: 20px;
            width: 80%;
            max-width: 1200px;
            min-width: 300px;
        }

        .slick-slider {
            margin: 30px auto 50px;
        }

        .quote-container {
            min-height: 200px;
            color: #666666;
            font-size: 36px;
            margin: 0 20px;
            position: relative;

            &:hover {
                cursor: grab;
            }

            .portrait {
                position: absolute;
                top: 0;
                bottom: 0;
                margin: auto;

                height: 140px;
                width: 140px;
                border-radius: 50%;
                overflow: hidden;

                img {
                    display: block;
                    height: auto;
                    width: 100%;
                }
            }

            .quote {
                position: relative;
                z-index: 600;
                padding: 40px 0 40px 180px;
                margin: 0;

                font-size: 20px;
                font-style: italic;
                line-height: 1.4 !important;
                font-family: Calibri;
                color: white;

                p {
                    position: relative;
                    margin-bottom: 20px;

                    &:first-child:before {
                        content: "\201C";
                        color: rgba(255, 255, 255, 0.44);
                        font-size: 7.5em;
                        font-weight: 700;
                        opacity: 1;
                        position: absolute;
                        top: -0.4em;
                        left: -0.2em;
                        text-shadow: none;
                        z-index: -10;
                    }
                }

                cite {
                    display: block;
                    font-size: 14px;

                    span {
                        font-size: 16px;
                        font-style: normal;
                        letter-spacing: 1px;
                        text-transform: uppercase;
                    }
                }
            }
        }

        .dragging .quote-container {
            cursor: grabbing;
        }
    }

    #contact {
        background: #f6f7f7;
        height: 40vh;
        padding: 5% 10%;

        .contact-grid {
            display: grid;
            grid-gap: 2rem;
            grid-template-columns: repeat(6, 1fr);
            grid-template-rows: 1fr;
            grid-template-areas: "about about info account news news";

            a {
                @include easeInOutFast;
            }

            a:hover {
                color: $primary-color;
            }

            ul {
                padding-top: 1rem;

                li {
                    padding-top: 0.6rem;
                }
            }

            p {
                padding-top: 1.5rem;
                line-height: 1.5;
            }

            .about {
                grid-area: about;
            }

            .more-info {
                grid-area: info;
            }

            .account {
                grid-area: account;
            }

            .news {
                grid-area: news;

                input {
                    background: none;
                    display: block;
                    border: none;
                    width: 100%;
                    padding: 0.6rem 0;
                    border-bottom: 1px solid #bbb;
                }

                button {
                    margin-top: 2rem;
                    padding: 1rem 3rem;
                    border: 1px solid $primary-color;
                    background: $primary-color;
                    color: white;
                    border-radius: 0.3rem;
                    cursor: pointer;
                    @include easeInOutFast;

                    &:hover {
                        background-color: transparent;
                        color: $primary-color;
                    }
                }
            }
        }
    }
}
